.container{
    text-align: center;
}

.title{
    font-size: 23px;
    border: 1px solid #0f77bd;
    text-transform: uppercase;
    color: #0f77bd;
    background: #fff;
    position: relative;
    font-weight: 700;
    width: auto;
    display: inline-flex;
    margin: 20px 0;
    padding: 5px 20px;
}

.dot{
    height: 4px;
    width: 80px;
    border-radius: 0;
}

.relatedProducts{
    text-align: center;
}