.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
    color: #3f3e00;
    border: 1px solid #3f3e00;
    background: transparent;
}

.container :global(.vtex-button) {
    background: transparent;
}

.cartIcon{
    color: #042e6f;
}

.itemDeleteIcon :global(.vtex-button):focus,
.itemDeleteIcon :global(.vtex-button):hover {
    background: #ffffff;
}
.label{
    display: none
}

@media only screen and (min-width: 80em) {
    .label{
        display: block;
        position: relative;
    }
    .label{
        display: block;
    }
    .cartIcon{
        color: #fff;
    }
    .badge{
        top: -18px;
        left: 12px;
        width: auto;
        padding: 4px 12px;
    }
    .contentSmall{
        border: 0;
    }
    .container :global(.vtex-button) {
        color: #ffffff;
        background: #00ad09;
    }
}