.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}
.row--payment-methods {
  padding-top: 16px;
}

.footerLayout{
  background: #f4f4f4;
}

.footerLayout .row{background: #f4f4f4;}

.rowContentContainer{
  margin-top: 15px;
}

.rowContentContainer--payment-methods{
  padding: 0px;
}

@media only screen and (min-width: 640px) {
  .footerLayout{margin-top:20px;}
}
