.slide--brandSliderLayout {
    padding: 10px;
}

.slideChildrenContainer--brandSliderLayout {
    text-align: center;
}

.sliderLayoutContainer--brandSliderLayout{
    height: 60px;
}

@media only screen and (min-width: 640px){
    .sliderLayoutContainer--brandSliderLayout{
        height: auto;
    }
}